*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.pageContent{
    /* background-color: gold; */
    background-image: linear-gradient(to right top, #561400, #640016, #6a0032, #5b0059, #000284); 
    height: 90vh;
}